<% content_for :title, "Login" %>

<div class="d-flex w-100 h-100 signup-container">
    <%=image_tag "signup-bg.png", alt: "Sign Up Background", class: "align-self-stretch signup-bg" %>
    <div class="form-wrapper d-flex flex-column gap-4 align-items-center py-4 flex-fill">
        <div class="greeting">
            <p class="mb-2 text-center"><%= t('common.welcome.back') %></p>
            <p class="text-center">LEANHOUSE !</p>
        </div>
        <h1><%= t("common.auth.sign_up").upcase %></h1>

        <%= form_with(model: @user, url: handle_login_path, method: :post, class: "signup-form w-100 d-flex align-items-center justify-content-center flex-column gap-4") do |f| %>

            <!-- Role selection -->
            <div data-controller="role-selector" class="form-group gap-2 d-flex flex-column align-items-center mb-2">
                <%= f.hidden_field :role, data: { role_selector_target: "input" } %>
                <%= f.label :role, class: "form-label" do %>
                    <%= t('form.profile.role') + ": "%> 
                    <span class="asterisk">*</span>
                <% end %>

                <div class="d-flex gap-3">
                    <div
                        class="role-option selected d-flex flex-column align-items-center gap-1 px-2 py-1"
                        data-action="click->role-selector#select"
                        data-role-selector-value="tenant"
                    >
                        <%= image_tag "tenant-icon.png", alt: "Tenant Icon" %>
                        <p><%= t('common.role.tenant') %></p>
                    </div>

                    <div
                        class="role-option d-flex flex-column align-items-center gap-1 px-2 py-1"
                        data-action="click->role-selector#select"
                        data-role-selector-value="landlord"
                    >
                        <%= image_tag "landlord-icon.png", alt: "Landlord Icon" %>
                        <p><%= t('common.role.landlord') %></p>
                    </div>
                </div>
            </div>

            <!-- Tel -->
            <div class="form-group">
                <%= f.label :tel, t('form.profile.tel') + ":", class: "form-label" %> <span class="asterisk">*</span>
                <%= f.telephone_field :tel, 
                    class: "form-control", 
                    placeholder: t('form.profile.tel_login_placeholder'), 
                    minlength: 10, maxlength: 10, required: true, autofocus: true %>
            </div>

            <!-- Password -->
            <div class="form-group" data-controller="form">
                <%= f.label :password, class: "form-label" do%>
                        <%= t('form.profile.password') +  ": "%>
                        <span class="asterisk">*</span>
                <% end %>

                <div class="position-relative">
                    <%= f.password_field :password, maxlength: 72, required: true,
                        class: "form-control pe-5 #{invalid_class(@user, :password)}",
                        placeholder: t('form.profile.pw_placeholder'),
                        data: {
                            form_target: "input",
                            action: "input->form#update"
                        } 
                    %>

                    <span class="eye position-absolute me-2 top-50 end-0 translate-middle-y material-symbols-outlined password-toggle" 
                            data-action="click->form#togglePasswordVisibility">
                        visibility
                    </span>
                </div>
            </div>


            <%= link_to t('form.profile.forgot_pw'), forgot_pw_path, class: "forgot-pw link" %>

            <%= f.submit t("common.auth.log_in"), class: "mx-auto custom-primary-btn" %>
        <% end %>

        <div class="d-flex flex-wrap gap-2"> 
            <%= t('form.profile.not_have_acc')%> 
            <%= link_to t('form.profile.reg_now'), login_path, class: "fw-bold link" %> 
        </div>
    </div>
</div>
