<% if logged_in?%>
    <!--TODO Profile -->
    <div class="dropdown profile-dropdown">
        <button class="dropdown-toggle d-flex align-items-center gap-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= display_avatar %>
            <div class="d-flex flex-column align-items-start">
                <p class="fw-bold fullname"><%=format_name(current_user.fullname) %></p>
                <p class="role"><%=get_role%></p>
            </div>
        </button>

        <ul class="dropdown-menu">
             <li><a class="dropdown-item" href="#"><%=t('common.bar.my_profile')%></a></li>
            <% if current_user.role == "landlord" %>
                <li><a class="dropdown-item" href="#"><%=t("common.bar.my_bank_acc")%></a></li>
            <%else%>
                <li><a class="dropdown-item" href="#"><%=t("common.bar.my_vehicle")%></a></li>
                <li><a class="dropdown-item" href="#"><%=t("common.bar.my_saved_post")%></a></li>
            <%end%>
            <li><a class="dropdown-item d-flex gap-1 align-items-center" href="<%=logout_path%>">
                    <%=t("common.auth.log_out")%>
                    <span class="material-symbols-outlined">logout</span>
            </a></li>
        </ul>
    </div>

    <!-- TODO: Notification -->
    <div class="dropdown notification-dropdown">
        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="position-relative">
                <span class="material-symbols-filled">notifications</span>
                <div class="notification-badge">3</div>
            </div>
        </button>


        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Notification 1</a></li>
            <li><a class="dropdown-item" href="#">Notification 2</a></li>
        </ul>
    </div>




<%else%>
    <%= link_to t("common.auth.sign_up"), signup_path, class: "signup-btn"%>

    <%= link_to login_path, class: "login-btn gap-1 d-flex align-items-center" do %>
        <%= t("common.auth.log_in") %>
        <span class="material-symbols-filled">door_open</span>
    <% end %>
<%end%>