<nav class="navbar sticky-top navbar-expand-md navbar-light py-0">
  <div class="container-fluid px-4">

    <!-- Logo -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", alt: "LeanHouse Logo" %>
    <% end %>

    <!-- Nav links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex align-items-center gap-3">

        <%= nav_item t("common.bar.home"), "Home", root_path, icon: "home" %>
        <%= nav_item t("common.bar.find_rooms"), "Finding Rooms", posts_path, icon: "search" %>
        <%= nav_item t("common.bar.features"), "Features", features_path%>
        <%= nav_item t("common.bar.about"), "About", about_path %>
        <%= nav_item t("common.bar.contact"), "Contact", contact_path %>

        <!-- Dropdown 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Dropdown
          </a>

          <ul class="dropdown-menu">
            <li><%= link_to "Action", "#", class: "dropdown-item" %></li>
            <li><%= link_to "Another action", "#", class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "Something else", "#", class: "dropdown-item" %></li>
          </ul>
        </li>
        -->
      </ul>
    </div>

    <div class="d-flex gap-3 align-items-center">
        <%# User authentication links %>
      <%= link_to t("common.auth.sign_up"), signup_path, class: "signup-btn"%>

      <%= link_to login_path, class: "login-btn gap-1 d-flex align-items-center" do %>
          <%= t("common.auth.log_in") %>
          <span class="material-symbols-filled">door_open</span>
      <% end %>

      <%# TODO Language selector%>
      <div class="nav-item dropdown lang-switcher">
        <a class="nav-link lang-btn dropdown-toggle d-flex justify-content-center align-items-center gap-1"
                type="button"
                id="langDropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            <span class="material-symbols-outlined">language</span>
            <%= I18n.locale.to_s.upcase %> <!-- Current language -->
        </a>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langDropdown">
            <% ["en", "vi"].each do |loc| %>
            <li>
                <%= link_to loc.upcase,
                            url_for(params.permit!.to_h.merge(lang: loc)),
                            class: "dropdown-item #{'active' if I18n.locale.to_s == loc}" %>
            </li>
            <% end %>
        </ul>
      </div>
    </div>

    <!-- Mobile toggle -->
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
